streamlit==1.57.0

pymupdf==1.27.2
pdfplumber==0.11.9

langchain-text-splitters==1.1.2

sentence-transformers==5.5.0
transformers==4.41.2

torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu

--extra-index-url https://download.pytorch.org/whl/cpu

faiss-cpu==1.13.0

groq==1.2.0

python-dotenv==1.2.2

numpy<2
